<div style="--bg-color: {{ section.settings.background | default('#6433ff') }}; --text-color: {{ section.settings.color | default('#ffffff') }};" class="screen-section">
    <h1>{{ section.settings.title | default('Page Not Found!!') }}</h1>
</div>