{% extends "layouts/base.twig" %}
{% block content %}
    {% for item in order %}
      {% set section_id = sections[item].section_id %}
      
      <section id="{{ item }}" data-section-id="{{ section_id }}">
        {% include [
            "sections/" ~ section_id ~ ".twig",
            section_id ~ "/" ~ section_id ~ ".twig",
            section_id ~ ".twig"
        ] ignore missing with {'section': sections[item] } %}
      </section>
    {% endfor %}
{% endblock %}